body 
{ text-align:center; height: 100%; background-image: linear-gradient(gold, maroon); background-repeat:no-repeat; background-size:100% 100vh;overflow:hidden;width:100%;}

.img1
{position: absolute;
    width: 20%;
    animation-name: moveBox;
    animation-duration: 9s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
.img2
{position: absolute;
    top: -30%;
    width: 20%;
    animation-name: moveBox;
    animation-delay: 1.5s;
    animation-duration: 9s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
.img3
{position: absolute;
    top: -20%;
    width: 20%;
    animation-name: moveBox;
    animation-delay: 2.32s;
    animation-duration: 9s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
.img4
{position: absolute;
    top: -20%;
    width: 20%;
    animation-name: moveBox;
    animation-delay: 3.2s;
    animation-duration: 9s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

.types {
  display: none
}

button
{
    background-color: Gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:active 
{
    background-color: Gray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
button:hover 
{
    cursor: pointer;
    background-color: DarkGray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.v1
{position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 60%;
    width: 0%;
    height: 30%;
    margin: auto;border-left: 5px solid white; height: 100%;}
.v2
{position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    right: 0;
    width: 0%;
    height: 30%;
    margin: auto;border-left: 5px solid white; height: 100%;}

input[type="text"]
{
    background: none;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
}
input[type="text"]:active
{

}

select
{
    background: none;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
}
option
{
    background-color: magenta;
}

::placeholder 
{
    color: black;
    opacity: 1;
}

:-ms-input-placeholder 
{
    color: black;
}

::-ms-input-placeholder 
{ 
    color: black;
}

@keyframes moveBox
{
	0% {left:0;top:-20%;}
	99.7% {left:0;top:100%;}
	99.8% {left:-30%;top:100%;}
	99.9% {left:-30%;top:-20%;}
	100% {left:0; top:-20%;}
}

@media screen and (max-width:800px)
{
	.img1, .img2, .img3, .img4, .v1, .v2{
	display:none;
	}
}
